.header {
	&__navbar {
		position: relative;

	}
	&__sidebar, &__searchbar {
		background: black;
		width: 200px;
		color: white;
		top: 60px !important;
		position: fixed !important;
		padding: 50px 20px;
		visibility: hidden;
	}
	&__searchbar {
		max-width: 500px;
		width: 100%;
		visibility: hidden;
	}
	&__search {
		background: #161920 !important;
		visibility: hidden;
	}
	@include media-breakpoint-up(sm) {
		&__social {
			position: absolute;
			right: 0px;
		}

		&__menu {
			position: absolute;
			left: 0px;
			visibility: hidden;
		}
	}

	.logo {
		max-width: 250px;
		@include media-breakpoint-down(sm) {
			max-width: 200px;
		}
	}

	.social {
		width: 15px;
		text-align: center;
	}
	
	.search {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #2e313a;
		padding: 7px;
		color: #e9e9e9;
		visibility: hidden;
	}
}