.latest__tag {
	&-heading {
		font-size: 14px;
		font-weight: bolder;
		text-transform: uppercase;
		padding: 10px 0;
		border-bottom: 1px solid $border-color;
		margin-bottom: 20px;
		color: #c1c2c5;
	}

	&-badge {
		border-radius: 100px !important;
	}

	&-single {
		margin: 0.2rem;
		padding: 0.1rem 0.5rem !important;
		border-radius: 100px !important;
		line-height: 1.2 !important;
		cursor: pointer;
	}

	&-image {
		img {
			border-radius: 5px;
			margin-bottom: 10px;
		}
	}

	&-title {
		font-size: 16px;
	}
}