@import './fonts';

// $font-family: 'Maison Neue', Arial, Helvetica, sans-serif !important;
$font-family-sans-serif: 'Maison Neue', Arial !important;


$theme-colors: (
    "info": tomato,
	"danger": teal,
	"warning": #e152b0,
);

$border-radius: 0;
$border-color: #41444c;
$black: #171a23;
$body-bg: $black;
$body-color: #f4f4f4;
$link-color: rgba(255, 255, 255, 0.7);
$link-color-hover: rgba(255, 255, 255, 0.9);

$container-max-widths: (
  xl: 1500px
);

@import "~bootstrap/scss/bootstrap";


html {
  scroll-behavior: smooth;
}

body {
	text-rendering: optimizeLegibility;
}

pre {
	color: #fff;
}

.navbar-dark {
	background: $body-bg;
}

.main__content {
	margin-top: 6rem;
	
}

.full__height {
	min-height: 100vh
}

.right__sidebar, .left__sidebar, .main__section {
	min-height: 100vh;
	// overflow: scroll;
}

.main__section {
	@include media-breakpoint-up(sm) {
		border-right: 1px solid $border-color;
		border-left: 1px solid $border-color;
	}
	@include media-breakpoint-down(sm) {
		margin-bottom: 50px;
	}
}

.post {
	&-related {
		.tags {
			margin: 20px 0;
		}
	}
}

.width-100 {
	width: 100%;
}

.paginate {
	margin: 1rem 0 6rem 0;
}

@import './header';
@import './index';
@import './featured';
@import './latest';
@import './related';
@import './share';
@import './single';
@import './paginate';
@import './tags';
@import './footer';